* {
    padding: 0;
    margin: 0;
    user-select: none;
    text-decoration: none;
  }

  html{
    width: 100vw;
    height: 100vh;
  }
  body {
    width: 100vw;
    height: 100vh;
  }

                                 /*HEADER*/
  header{
    width: auto;
    height: 7%;
    background-color: aqua;
  }
  
  .Top-Bar{
    width: auto;
    height: 100%;
    display: flex;
  }
  /*Div para nombre de la Tienda*/
  .Tienda{
    width: 30%;
    height: 100%;
    /* background-color: brown; */
  }
  .NombreTienda{
    width: auto;
    height: 100%;
    display: grid;
    font-size: 40px;
    justify-content: center;
    align-items: center;
  }
  /*DIV para Fecha de la Tienda*/
  .Fecha{
    width: 70%;
    height: auto;
    display: grid;
  }
  .FechaTienda{
    width: auto;
    height: 100%;
    display: grid;
    justify-content: end;
    align-items: end;
    margin-right: 20px;
  }
                                        /*MAIN*/
  main{
    width: auto;
    height: 93%;
    background-color: blueviolet;
    display: flex;
  }
                  /*DIV principal para el segmento de Punto de Venta*/
  .Punto-Venta{
    width: 50%;
    height: 100%;
    background-color: rebeccapurple;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
  }
  /*Div para el Buscador*/
  .Buscador{
    width: 95%;
    height: 8%;
    background-color: antiquewhite;
    border-radius: 5px;
    margin: auto;
    /* padding: 2px; */
  }
  .Search_Bar{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Search_Bar input{
    height: 2rem;
    width: 20rem;
    margin-right: 1rem;
  }
  /*DIV para la Lista de la Venta*/
  .ListaProductos{
    width: 95%;
    height: 90%;
    background-color: beige;
    border-radius: 5px;
    border-style: solid;
    margin: auto;
    /* overflow: hidden;
    overflow-y: scroll; */
  }
  /*Tabla para los Productos de la Venta*/
  /*CSS General para la tabla*/
 
  table, th, td{
    border-top: 2px solid;
    /* border-bottom: 2px solid; */
  }
  .TablaVenta{
    width: 100%;
    height: auto;
    /* display: flex; */
  }
  tr{
    width: 100%;
    margin: auto;
  }
  th{
   width: 25%;
   text-align: start;
   font-size: 1.5rem;
   background-color: white;
  }
  /*Table Datas para Productos*/
  td{
    font-size: 1.2rem;
    font-weight: 10;
    height: 2rem;
  }
  th, td{
    text-align: center;
    height: 5rem;
  }
  .CantidadD{
    display: flex;
    justify-content: center;
  }
  .Cantidad{
    width: 4.2rem;
    font-size: 1rem;
    height: 2rem;
    margin: auto;
  }
  .Nombre{
    width: 2.5rem;
  }

                /*DIV principal para segmento de Productos*/
  .Productos{
    width: 50%;
    height: 100%;
    background-color: thistle;
    border-radius: 5px;
  }
  .Categorias{
    width: 100%;
    height: 20%;
    background-color: brown;
    display: flex;
    /* padding-left: 5px; */
  }
  .CardCategoria{
    width: 20%;
    height: 100%;
    background-color: violet;
    margin-left: 2px;
    display: flex;
  }
  .CardCategoria h1{
    display: flex;
    font-size: 1.5rem;
    width: 100%;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .Productos .Buscador{
    height: 7%;
    /* margin-top: 5px; */
  }
  .CardsProductos{
    width: 100%;
    height: 73%;
    background-color: darkorange;
    display: flex;
  }
  .CardsRow{
    width: 100%;
    height: 50%;
    display: flex;
  }
  .CardProducto{
    width: 30rem;
    height: 100%;
    background-color: bisque;
    margin: 5px;
  }
  .DetallesProducto{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .DetallesProducto img{
    width: 100%;
    height: 100%;
  }